<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - People Echos</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/angular.js"></script>
    @*<script src="~/app/Apps.js"></script>*@
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left ">
                <a href="@Url.Action("index", "Home")">
                    <img src="../Content/Image/Logo/designechos_logo.png" />
                </a>
            </div>
            <div class="float-right">
                <section id="login">@Html.Partial("_LoginPartial")
                </section>
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                   </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body" style="background-color:white;margin:0px;padding:30px 30px">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix" style="background-color:white;  ">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left " style="color: orange; float: none; text-align: center;">
                <p>&copy; @DateTime.Now.Year - Design Echos</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>


</html>
