<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - People Echos</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/angular.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</head>
<body>
    <nav class="navbar navbar-default " style="margin-bottom: 0;  padding:  50px 30px 15px;">
        <div class="container">
            <div class="navbar-header">
             
            </div>
           

        </div>
    </nav>

    <div id="body" style="background-color: white;">
 
       @RenderBody()

    </div>

@*    <footer class="container-fluid "  style="background-color: black; padding:  50px 15px;">
        <div class="container">

            <div class="center">

                <div class="col-sm-4">
                    <a href="@Url.Action("index", "Home")">
                        <img   src="../Images/Icon/People_Echos_Banners-White.png" />
                    </a>
                </div>

                <div class="col-sm-8" style="color:white">

                
                </div>
            </div>
    </footer>*@

</body>
</html>

<style>



    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 60px;
        background-color: #FFFFFF;
    }
    .link {
        color:white;
    }
    .link:hover {
    color:orange;
    }
   .icon-footer {
        width: 25px;
        height:auto;    
    }

</style>
